<div class="row approach">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<p class="tabtitle" style="color:var(--dark)">OUR APPROACH</p>
		<p class="title" style="color: black!important;line-height: 100%;">Promoting The <br> Beadwork Industry</p>
		<p style="letter-spacing: 1px;">
			Ushanga Kenya initiative plays the role of cultural preservation of beadwork for socio-economic empowerment,
			capacity building
			and value addition through training on new beading techniques, use of modern and efficient building tools
			and new contemporary designs competitive both in local and international markets .
		</p>
	</div>
	<div class="col-sm-3"></div>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-3"  style="margin: 0.75em 0 0;">
			<h2 class="tabtitle" style="margin-top: 4%; font-weight: bold; color: var(--dark);">
				Jewelery
			</h2>
			<small style="letter-spacing: 1px;color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing.</small>
			<div class="image-collage">
				<img style="margin: 0.75em 0 0;"
					src="https://firebasestorage.googleapis.com/v0/b/ushanga-alpha.appspot.com/o/productImages%2F1677674750020?alt=media&token=4dd33001-38cc-4507-b023-c5166f52f5b5">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/ushanga-alpha.appspot.com/o/productImages%2F1677674850361?alt=media&token=d039a378-6008-4fc1-8996-96fa77fd3541">
				 </div>

		</div>
		<div class="col-sm-3">
			<h2 class="tabtitle" style="margin-top: 4%; font-weight: bold; color: var(--dark);">
				Accessories
			</h2>
			<small style="letter-spacing: 1px;color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Quos libero, vitae repudiandae sint ipsa amet enim placeat odio sapiente vel fugit quis, error neque
				ducimus doloremque laudantium accusamus doloribus itaque.</small>
			<div class="image-collage">
				<img style="margin: 0.75em 0 0;"
					src="https://firebasestorage.googleapis.com/v0/b/ushanga-alpha.appspot.com/o/productImages%2F1677674685788?alt=media&token=42ad7a49-bdab-4604-a770-0aeff392aed6">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/ushanga-alpha.appspot.com/o/productImages%2F1677674614112?alt=media&token=91588d40-f335-49e3-925e-13dd5d1c8ffa">
			 </div>

		</div>

		<div class="col-sm-3">
			<h2 class="tabtitle" style="margin-top: 4%; font-weight: bold; color: var(--dark);">
				Home Furnishings
			</h2>
			<small style="letter-spacing: 1px;color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Quos libero, vitae repudiandae sint ipsa amet enim placeat odio sapiente vel fugit quis, error neque
				ducimus doloremque laudantium accusamus doloribus itaque.</small>
			<div class="image-collage">
				<img style="margin: 0.75em 0 0;"
					src="https://firebasestorage.googleapis.com/v0/b/ushanga-alpha.appspot.com/o/productImages%2F1677674957463?alt=media&token=8f9101ed-9935-43ea-8c5d-d0902fbe9f44">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/ushanga-alpha.appspot.com/o/productImages%2F1677674890930?alt=media&token=299749c2-b0c9-44bd-b1cb-7ce3afb55c3a">
			 </div>

		</div>

		<div class="col-sm-3">
			<h2 class="tabtitle" style="margin-top: 4%; font-weight: bold; color: var(--dark);">
				Cultural Collectables
			</h2>
			<small style="letter-spacing: 1px;color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Quos libero, vitae repudiandae sint ipsa amet enim placeat odio sapiente vel fugit quis, error neque
				ducimus doloremque laudantium accusamus doloribus itaque.</small>
			<div class="image-collage">
				<img style="margin: 0.75em 0 0;"
					src="https://firebasestorage.googleapis.com/v0/b/ushanga-alpha.appspot.com/o/productImages%2F1677674750020?alt=media&token=4dd33001-38cc-4507-b023-c5166f52f5b5">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/ushanga-alpha.appspot.com/o/productImages%2F1677674850361?alt=media&token=d039a378-6008-4fc1-8996-96fa77fd3541">
				  </div>

		</div>

	</div>
</div>

<!-- Slider main container -->
<!-- <div class="swiper">
 	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-71.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color: var(--light);font-size: 7rem;" >Marsabit</h1>
 					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
 		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-69.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Kajiado</h1>
 					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-66.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >West Pokot</h1>
 					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-120.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Samburu</h1>
 					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div>  
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/compressor/images/IMG_0078.JPG') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Turkana</h1>
 					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-142.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Narok</h1>
 					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div>
	</div>

 	<div class="swiper-pagination"></div>
 	<div class="swiper-nav-wrapper">
		<div class="prev swiper-button-prev"></div>
		<div class="next swiper-button-next "></div>    
	</div>

 	<div class="swiper-scrollbar"></div>
</div> -->

<div class="row partners">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<p class="tabtitle" style="color:var(--dark)">OUR PARTNERS</p>
		<p class="title" style="color: black!important;line-height: 100%;">We work with <br> Industry Stakeholders</p>
	</div>
	<div class="col-sm-3"></div>
</div>
<div class="slider">
	<div class="slide-track">

		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/BARINGO.png" alt="">
		</div>

		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/kajiado.png" alt="">
		</div>
		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/marsabit.png" alt="">
		</div>

		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/narok.png" alt="">
		</div>
		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/samburu.png" alt="">
		</div>
		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/turkana.png" alt="">
		</div>
		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/UNDP.png" alt="">
		</div>
		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/UNESCO.png" alt="">
		</div>
		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/UNFPA.png" alt="">
		</div>
		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/world_vision.svg" alt="">
		</div>
		<div class="slide">
			<img class="patimg" src="./../../../assets/partners/retest/westpokot.png" alt="">
		</div>
	</div>
</div>
