<div class="row approach" >
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <p class="tabtitle" style="color:var(--dark)">OUR APPROACH</p>
        <p class="title" style="color: black!important;line-height: 100%;">Promoting The <br> Beadwork Industry</p> 
		<p style="letter-spacing: 1px;">
			Ushanga Kenya initiative plays the role of cultural preservation of beadwork for socio-economic empowerment, capacity building 
			and value addition through training on new beading techniques, use of modern and efficient building tools and new contemporary designs competitive both in local and international markets .
		</p>
		 </div>
    <div class="col-sm-3"></div>
</div>

 <!-- Slider main container -->
<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-71.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color: var(--light);font-size: 7rem;" >Marsabit</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<!-- Slides -->
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-69.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Kajiado</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-66.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >West Pokot</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-120.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Samburu</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div>  
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/compressor/images/IMG_0078.JPG') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Turkana</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-142.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Narok</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div>
	</div>

	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
	<!-- If we need navigation buttons -->
	<div class="swiper-nav-wrapper">
		<div class="prev swiper-button-prev"></div>
		<div class="next swiper-button-next "></div>    
	</div>

	<!-- If we need scrollbar -->
	<div class="swiper-scrollbar"></div>
</div>

<div class="row partners">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <p class="tabtitle" style="color:var(--dark)">OUR PARTNERS</p>
        <p class="title" style="color: black!important;line-height: 100%;">We work with <br> Industry Stakeholders</p> 
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="slider">
	<div class="slide-track">

	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/BARINGO.png" alt="">
	  </div>

	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/kajiado.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/marsabit.png" alt="">
	  </div>

	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/narok.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/samburu.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/turkana.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/UNDP.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/UNESCO.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/UNFPA.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/world_vision.svg" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/westpokot.png" alt="">
	  </div> 
	</div>
</div>