<div class="row approach" >
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <p class="tabtitle" style="color:var(--medium)">OUR APPROACH</p>
        <p class="title" style="color: black!important;line-height: 100%;">Promoting The <br> Beadwork Industry</p> 
		<p style="letter-spacing: 1px">
			We encourage our women to take pride in their culture through training them, showcasing and selling their products, passing down the culture to the next generation and preservation of culture for economic and social benefits </p>
   
        <p><small>Our growth as Ushanga Kenya has been significant as our reach has been seen in 7 counties that practice bead-work namely;
            <span style="letter-spacing: 1px; font-weight: bold;">Samburu, Kajiado, Narok, West Pokot, Turkana, Baringo, and Marsabit.</span></small></p>
		 </div>
    <div class="col-sm-3"></div>
</div>

 <!-- Slider main container -->
<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-71.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color: var(--light);font-size: 7rem;" >Marsabit</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<!-- Slides -->
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-69.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Kajiado</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-66.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >West Pokot</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-120.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Samburu</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-127.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Turkana</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div> 
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-130.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Turkana</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="swiper-image" style="background: url('./../../../assets/U20-142.jpg') no-repeat center center; background-size:cover;"></div>
			<div class="overlay"></div>
			<div class="content-wrapper">
				<div class="content">
					<h1 class="title" style="color:  var(--light);font-size: 7rem;" >Narok</h1>
					<!-- <p style="letter-spacing: 1px; text-transform: lowercase;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem soluta, assumenda placeat fugiat alias consequuntur vero laboriosam eius odit, necessitatibus modi dicta voluptatibus quos voluptatem libero natus impedit deserunt!</p> -->
					<a href="" class="disc tabtitle">Discover more</a>
				</div>
			</div>
		</div>
	</div>

	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
	<!-- If we need navigation buttons -->
	<div class="swiper-nav-wrapper">
		<div class="prev swiper-button-prev"></div>
		<div class="next swiper-button-next "></div>    
	</div>

	<!-- If we need scrollbar -->
	<div class="swiper-scrollbar"></div>
</div>

<div class="row partners">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <p class="tabtitle" style="color:var(--medium)">OUR PARTNERS</p>
        <p class="title" style="color: black!important;line-height: 100%;">We work with <br> Industry Stakeholders</p> 
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="slider">
	<div class="slide-track">
	  <div class="slide">
		<img class="patimg" src="./../../../assets/partners/retest/AMREF.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/Arab20Bank20Logo.jpg" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/BARINGO.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/FORD.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/ILO.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/kajiado.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/marsabit.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/mombasa.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/nairob.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/narok.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/samburu.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/turkana.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/UNDP.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/UNESCO.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/UNFPA.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/UNIDO.png" alt="">
	  </div>
	  <div class="slide">
		<img class="patimg"  src="./../../../assets/partners/retest/westpokot.png" alt="">
	  </div> 
	</div>
</div>