<hr> 
<div class="footer">
    <div>
        <img src="./../../../assets/UKI_LOGO.png" style="height:7rem" alt="" srcset="">
    </div>
    
    <div class="" style="text-align: center;">
        <div class="vertcent">
            <p class="tabtitle" style="font-size: 12px!important;margin-bottom: 0%;">
                <small style="color: var(--medium);">Connect with us</small>                            
            </p>
                                        
            <!-- Section: Social media -->
            <section  >
                <!-- Facebook -->
                <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-facebook-f"></i
                ></a>
        
                <!-- Twitter -->
                <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-twitter"></i
                ></a>
        
                <!-- Google -->
                <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-google"></i
                ></a>
        
                <!-- Instagram -->
                <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-instagram"></i
                ></a>

                <!-- Instagram -->
                <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-solid fa-location-dot"></i
                ></a>
            
            </section>
            <!-- Section: Social media -->
        </div>
        
    </div>
</div>

<div class="copyright">
    <p class="tabtitle" style="font-size: 10px!important"><small>© 2022 Copyright Ushanga Kenya Initiative </small></p>
    <p class="tabtitle" style="font-size: 10px!important"><small>Designed by Steldon</small></p>
</div>
