<div class="nav-toggle">  
    
      <a [routerLink]="['/']" ><img class="mainLg" src="./../../../assets/UKI_LOGO.png" alt="" srcset=""></a>
 
        <input type="checkbox" name="toggle-check" unchecked id="toggle-check" />
        <label for="toggle-check">
            <p class="tabtitle menu">menu</p>
        </label>


    
    <div class="sidenav">

        <div class="hero-side-images w-embed">
            <svg width="100%" height="100vh" viewBox="0 0 62 200" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_587_282)">
                <path d="M32.7351 73.5628C32.7351 95.7385 14.6613 113.764 -7.6939 113.764C-30.0491 113.764 -48.1229 95.7385 -48.1229 73.5628C-48.1229 51.3871 -30.0491 33.3615 -7.6939 33.3615C14.6613 33.3615 32.7351 51.3871 32.7351 73.5628Z" fill="#FCF356" stroke="#1C006B" stroke-width="11.5511"></path>
                <path d="M21.1836 34.4827C21.1836 50.3103 8.28145 63.1898 -7.69426 63.1898C-23.67 63.1898 -36.5721 50.3103 -36.5721 34.4827C-36.5721 18.655 -23.67 5.77557 -7.69426 5.77557C8.28145 5.77557 21.1836 18.655 21.1836 34.4827Z" fill="#F3B761" stroke="#0F0F0F" stroke-width="11.5511"></path>
                <ellipse cx="-7.6932" cy="131.035" rx="69.3068" ry="68.9654" fill="#0F0F0F"></ellipse>
                <ellipse cx="-7.69295" cy="131.201" rx="55.2231" ry="54.8524" fill="#58A9A3"></ellipse>
                <ellipse cx="-7.6939" cy="131.035" rx="46.2045" ry="45.9769" fill="#101010"></ellipse>
                <ellipse cx="-7.69426" cy="131.034" rx="34.6534" ry="34.4827" fill="#CA4A3F"></ellipse>
                <path d="M32.4576 73.4029C32.4576 95.4926 14.4537 113.45 -7.81695 113.45C-30.0876 113.45 -48.0915 95.4926 -48.0915 73.4029C-48.0915 51.3132 -30.0876 33.356 -7.81695 33.356C14.4537 33.356 32.4576 51.3132 32.4576 73.4029Z" stroke="#101010" stroke-width="11.86"></path>
              </g>
              <defs>
                <clipPath id="clip0_587_282">
                  <rect width="62" height="200" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
        </div>

        <div class="cont">
            <div style="display: flex;flex-direction: column;">
                <a class="linknav firstlink" [routerLink]="['/']" routerLinkActive="router-link-active" >
                    <span class="navlink" ><small>Ushanga</small></span>
                </a>

                <!-- <a class="linknav " [routerLink]="['/work']" routerLinkActive="router-link-active" >
                    <span class="navlink" ><small>Our women</small></span>
                </a> -->
                <a class="linknav"  [routerLink]="['/registration']" routerLinkActive="router-link-active">
                   <span class="navlink" ><small>USSD Registration</small></span>
                </a>
                <a class="linknav"  [routerLink]="['/partnerships']" routerLinkActive="router-link-active">
                   <span class="navlink" ><small>Partnerships</small></span>
                </a>
                <a class="linknav"  [routerLink]="['/shop']" routerLinkActive="router-link-active">
                   <span class="navlink" ><small>Shop</small></span>
                </a>
                <a class="linknav"  [routerLink]="['/contact']" routerLinkActive="router-link-active">
                   <span class="navlink" ><small>Talk to us</small></span>
                </a> 
            </div>
            

            <div class="firstlink" style="flex-wrap: wrap;">
                <img class="navlogo" src="./../../../assets/UKI_LOGO.png" alt="" srcset="">
            </div>

        </div>
        <div class="subtitle ban" style="padding:3%;position:absolute;bottom:5%;left:5%;color:black">
          <p class="tabtitle"  >Empowerment, Vision + Purpose</p>
        </div>
  
        <div class="subtitle ban" style="padding:3%;position:absolute;bottom:5%;right:5%;color:black">
          <!-- Section: Social media -->
          <section  >
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-location-dot"></i
            ></a> 
          </section>
          <!-- Section: Social media -->
        </div>

        <div class="hero-side-images side-b w-embed">
            <svg width="100%" height="100vh" viewBox="0 0 62 200" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_587_163)">
                <path d="M109.735 73.5628C109.735 95.7385 91.6613 113.764 69.3061 113.764C46.9509 113.764 28.8771 95.7385 28.8771 73.5628C28.8771 51.3871 46.9509 33.3615 69.3061 33.3615C91.6613 33.3615 109.735 51.3871 109.735 73.5628Z" fill="#FCF356" stroke="#1C006B" stroke-width="11.5511"></path>
                <path d="M98.1836 34.4827C98.1836 50.3103 85.2815 63.1898 69.3057 63.1898C53.33 63.1898 40.4279 50.3103 40.4279 34.4827C40.4279 18.655 53.33 5.77557 69.3057 5.77557C85.2815 5.77557 98.1836 18.655 98.1836 34.4827Z" fill="#F3B761" stroke="#0F0F0F" stroke-width="11.5511"></path>
                <ellipse cx="69.3068" cy="131.035" rx="69.3068" ry="68.9654" fill="#0F0F0F"></ellipse>
                <ellipse cx="69.3071" cy="131.201" rx="55.2231" ry="54.8524" fill="#58A9A3"></ellipse>
                <ellipse cx="69.3061" cy="131.035" rx="46.2045" ry="45.9769" fill="#101010"></ellipse>
                <ellipse cx="69.3057" cy="131.034" rx="34.6534" ry="34.4827" fill="#CA4A3F"></ellipse>
                <path d="M109.458 73.4029C109.458 95.4926 91.4537 113.45 69.1831 113.45C46.9124 113.45 28.9085 95.4926 28.9085 73.4029C28.9085 51.3132 46.9124 33.356 69.1831 33.356C91.4537 33.356 109.458 51.3132 109.458 73.4029Z" stroke="#101010" stroke-width="11.86"></path>
              </g>
              <defs>
                <clipPath id="clip0_587_163">
                  <rect width="62" height="200" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
        </div>
    
    </div>
</div>