

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '\a0';
  display: inline-block;
  margin: .2em .5em;
  width: .8em;
  height: .8em;
  line-height: .75em;
  transition: all .5s;
  border: 1px solid silver;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: '\a0';
  background: var(--medium);
  border: 1px solid white;
  box-shadow: inset 0 0 0 1px white, 0 0 0 1px var(--dark);
}
.filters{
    margin-top: 5%;
}
.products{
    padding-top: 4%;
}
.cart-plus{
    font-size: 0.852rem;
    color: var(--ushanga-yellow);
}
.cart-plus:hover{
    color: black;
}

.like{ 
    color: red!important;
}
.catBanner{
  display: block;
  object-fit: cover; 
  width: 100%;
  height: 50vh;border-radius: 5px;
}