<app-nav></app-nav>
<app-shopnav></app-shopnav>
<div class="container-fluid" style="padding: 4%;">
    <div class="row margin-mob">
        <div class="col-sm-3"> 
            <div class="vertcent">
                <div style="margin-bottom: 4%;">
                    <span class="title margin-top" style="margin-top: 4%; color: var(--ushanga-yellow); line-height: 100%;font-size: 3rem;" >Ushanga Market</span>
                </div>
                <small class="tabtitle" style="color: black;font-size: 0.75rem; ">Linking traditional talent to modern markets</small>
                <p style="margin-top: 5%">
                    <small style="color: grey ;">
                    In a bid to promote the economic empowerment of the women from our pastoral communities, all products within our catalogue are locally sourced from within our 7 counties of operation in Kenya 
                    </small>
                </p>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3">
                    <a style="color: black;cursor: pointer;">
                        <img src="./../../../assets/U20-59.jpg" class="catBanner" />
                        
                        <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Home Furnishings</h2>
                        <!-- <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p> -->
                    </a>
                </div>
                <div class="col-sm-3">
                    <a style="color: black;cursor: pointer;">
                        <img src="./../../../assets/U20-142.jpg" class="catBanner"/>
                        
                        <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Accessories</h2>
                        <!-- <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p> -->
                    </a>
                </div>
                <div class="col-sm-3">
                    <a style="color: black;cursor: pointer;">
                        <img src="./../../../assets/U20-130.jpg" class="catBanner"/>
                        
                        <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Jewelery</h2>
                        <!-- <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p> -->
                    </a>
                </div>
                <div class="col-sm-3">
                    <a style="color: black;cursor: pointer;">
                        <img src="./../../../assets/U20-10.jpg" class="catBanner"/>
                        
                        <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Cultural Collectables</h2>
                        <!-- <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p> -->
                    </a>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="container-fluid">

</div>
<div style="padding: 2%;background-color: var(--light); "> 
    <div class="row margin-mob"> 
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div style="display: flex; justify-content: space-around">
                <input type="text" class="searchbox" placeholder="Type to search">
                <!-- &nbsp;
                <a style="padding: 2%; border: 1px solid var(--dark); color:var(--dark);float:right">
                    <small class="tabtitle"> Filters </small>
                </a> -->
            </div>  
        </div>
        <div class="col-sm-2"></div>
    </div>  
 </div>
<div class="row" style="margin-top: 5%;margin-bottom: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <div class="row" >
            <div class="col-sm-12">
                <small class="tabtitle" style="color: var(--dark);font-size: 0.75rem; ">Categories</small>

                <div class="filters">
                    <input type="checkbox" id="Home" />
                    <label for="Home" > <small class="filter_text">Home Furnishings</small> </label>
                </div>
                
                <div class="filters">
                    <input type="checkbox" id="Accessories" />
                    <label for="Accessories" > <small class="filter_text">Accessories</small> </label>
                </div>
                <div class="filters">
                    <input type="checkbox" id="JEWELERY" />
                    <label for="JEWELERY" > <small class="filter_text">Jewelery</small> </label>
                </div>
                <div class="filters">
                    <input type="checkbox" id="CULTURAL COLLECTABLES" />
                    <label for="CULTURAL COLLECTABLES" > <small class="filter_text">Cultural Collectables</small> </label>
                </div>
            </div> 
            <div class="row" style="margin-top:16%">
                <small class="tabtitle" style="color: var(--dark);font-size: 0.75rem; margin-bottom: 4%;">Counties</small>
                <div class="col-sm-6">   
                    <div class="filters">
                        <input type="checkbox" id="Turkana" />
                        <label for="Nairobi"> <small class="filter_text">Nairobi</small> </label>
                    </div> 
                    <div class="filters">
                        <input type="checkbox" id="Turkana" />
                        <label for="Turkana" > <small class="filter_text">Turkana</small> </label>
                    </div>
                    <div class="filters">
                        <input type="checkbox" id="Samburu" />
                        <label for="Samburu" > <small class="filter_text">Samburu</small> </label>
                    </div>
                    <div class="filters">
                        <input type="checkbox" id="Kajiado" />
                        <label for="Kajiado" > <small class="filter_text">Kajiado</small> </label>
                    </div>
                    <div class="filters">
                        <input type="checkbox" id="Narok" />
                        <label for="Narok" > <small class="filter_text">Narok</small> </label>
                    </div>

                </div>  
                <div class="col-sm-6" > 
                    <div class="filters">
                        <input type="checkbox" id="Pokot" />
                        <label for="Pokot" > <small class="filter_text">West Pokot</small> </label>
                    </div>  
                    <div class="filters">
                        <input type="checkbox" id="Marsabit" />
                        <label for="Marsabit" > <small class="filter_text">Marsabit</small> </label>
                    </div> 
                    <div class="filters">
                        <input type="checkbox" id="Baringo" />
                        <label for="Baringo" > <small class="filter_text">Baringo</small> </label>
                    </div> 
                    <div class="filters">
                        <input type="checkbox" id="Pokot" />
                        <label for="Pokot" > <small class="filter_text">Mombasa</small> </label>
                    </div> 
                </div>

                <a href="" style="margin-top: 8%;color:var(--dark); text-decoration: underline;">
                    <small class="filter_text" > View more counties </small>
                </a>
            </div>

        </div>
    </div>
    <div class="col-sm-8" style="padding-right: 4%;padding-left: 1%;">   
        <p>
            <small class="tabtitle" style="color: var(--dark);font-size: 0.75rem; margin-bottom: 4%;">6 results found in 3MS</small>
        </p>
        <div class="row">
            
            <div class="col-sm-4 products">
                <a style="color: black;cursor: pointer;" class="products" >
                    <img src="./../../../assets/products/products-21.jpg" class="catBanner"/>

                    <div style="display: flex; justify-content: space-around;margin-top: 6%;">
                        <div>
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Clutch bags</h2>
                            <p style=" letter-spacing: 1px;font-size: 12px; color: lightgrey;">Lomut, West Pokot</p>
                            <h2 class="tabtitle" style="margin-top: 4%;color: var(--ushanga-yellow); font-weight: bold;">Kes. 1,230</h2>
                        </div>
                        &nbsp;
                        <a class="js-toggle-cart" >                            
                            <small class="filter_text cart-plus vertcent"><i class="fas fa-plus"></i> Add</small>
                        </a>
                        <a class="like">
                            <i class="far fa-heart" data-count="2"></i>
                        </a> 
                            
                    </div> 
                                    
                </a>
            </div> 
            <div class="col-sm-4 products">
                <a style="color: black;cursor: pointer;" class="products" >
                    <img src="./../../../assets/products/products-10.jpg" class="catBanner" />

                    <div style="display: flex; justify-content: space-around;margin-top: 6%;">
                        <div>
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded Necklace</h2>
                            <p style=" letter-spacing: 1px;font-size: 12px; color: lightgrey;">Lomut, West Pokot</p>
                            <h2 class="tabtitle" style="margin-top: 4%;color: var(--ushanga-yellow); font-weight: bold;">Kes. 1,230</h2>
                        </div>
                        &nbsp;
                         <a class="js-toggle-cart" >                            
                            <small class="filter_text cart-plus vertcent"><i class="fas fa-plus"></i> Add</small>
                        </a>
                        <a class="like">
                            <i class="far fa-heart" data-count="2"></i>
                        </a> 
                    </div> 
                                    
                </a>
            </div>   
            <div class="col-sm-4 products">
                <a style="color: black;cursor: pointer;" class="products" >
                    <img src="./../../../assets/products/products-11.jpg"  class="catBanner" />

                    <div style="display: flex; justify-content: space-around;margin-top: 6%;">
                        <div>
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Yellow Necklace</h2>
                            <p style=" letter-spacing: 1px;font-size: 12px; color: lightgrey;">Lomut, West Pokot</p>
                            <h2 class="tabtitle" style="margin-top: 4%;color: var(--ushanga-yellow); font-weight: bold;">Kes. 1,230</h2>
                        </div>
                        &nbsp;
                         <a class="js-toggle-cart" >                            
                            <small class="filter_text cart-plus vertcent"><i class="fas fa-plus"></i> Add</small>
                        </a>
                        <a class="like">
                            <i class="far fa-heart" data-count="2"></i>
                        </a> 
                    </div> 
                                    
                </a>
            </div> 
            <div class="col-sm-4 products">
                <a style="color: black;cursor: pointer;" class="products" >
                    <img src="./../../../assets/products/products-15.jpg" class="catBanner"/>

                    <div style="display: flex; justify-content: space-around;margin-top: 6%;">
                        <div>
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Lime Ushanga</h2>
                            <p style=" letter-spacing: 1px;font-size: 12px; color: lightgrey;">Lomut, West Pokot</p>
                            <h2 class="tabtitle" style="margin-top: 4%;color: var(--ushanga-yellow); font-weight: bold;">Kes. 1,230</h2>
                        </div>
                        &nbsp;
                         <a class="js-toggle-cart" >                            
                            <small class="filter_text cart-plus vertcent"><i class="fas fa-plus"></i> Add</small>
                        </a>
                        <a class="like">
                            <i class="far fa-heart" data-count="2"></i>
                        </a> 
                    </div> 
                                    
                </a>
            </div> 
            <div class="col-sm-4 products">
                <a style="color: black;cursor: pointer;" class="products" >
                    <img src="./../../../assets/products/products-47.jpg" class="catBanner"/>

                    <div style="display: flex; justify-content: space-around;margin-top: 6%;">
                        <div>
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded sandles</h2>
                            <p style=" letter-spacing: 1px;font-size: 12px; color: lightgrey;">Lomut, West Pokot</p>
                            <h2 class="tabtitle" style="margin-top: 4%;color: var(--ushanga-yellow); font-weight: bold;">Kes. 1,230</h2>
                        </div>
                        &nbsp;
                         <a class="js-toggle-cart" >                            
                            <small class="filter_text cart-plus vertcent"><i class="fas fa-plus"></i> Add</small>
                        </a>
                        <a class="like">
                            <i class="far fa-heart" data-count="2"></i>
                        </a> 
                    </div> 
                                    
                </a>
            </div> 
            <div class="col-sm-4 products">
                <a style="color: black;cursor: pointer;" class="products" >
                    <img src="./../../../assets/products/products-44.jpg" class="catBanner"/>

                    <div style="display: flex; justify-content: space-around;margin-top: 6%;">
                        <div>
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Gold Beaded Sandles</h2>
                            <p style=" letter-spacing: 1px;font-size: 12px; color: lightgrey;">Lomut, West Pokot</p>
                            <h2 class="tabtitle" style="margin-top: 4%;color: var(--ushanga-yellow); font-weight: bold;">Kes. 1,230</h2>
                        </div>
                        &nbsp;
                         <a class="js-toggle-cart" >                            
                            <small class="filter_text cart-plus vertcent"><i class="fas fa-plus"></i> Add</small>
                        </a>
                        <a class="like">
                            <i class="far fa-heart" data-count="2"></i>
                        </a> 
                    </div> 
                                    
                </a>
            </div> 
        </div>
    </div>
</div>
<app-cart></app-cart>