<app-nav></app-nav>
<div style="padding: 7%;background-color: var(--light); "> 
    <div class="row margin-mob">
        <div class="col-sm-8"> 
            <div>
                <span class="title margin-top" style="margin-top: 4%;line-height: 100%;" >Welcome to our shop.</span>
            </div>
            <small class="tabtitle" style="color: var(--medium);">Coming soon</small>
            <p style="margin-top: 5%">All products within our catalogue are locally sourced from within our 7 counties of operation in Kenya in a bid to 
                promote the economic empowerment of the women from our pastoral communities. 
            </p>
        </div>
        <div class="col-sm-4"></div>
    </div>
 </div>
<div class="row margin-top" style="margin-top: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-9"> 
        <h1 class="tabtitle" style="font-weight: bold;">Our Catalogue</h1>
        
        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3 margin-top" style="margin-top: 4%;" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
            <a
                class="nav-link active"
                id="ex1-tab-1"
                data-mdb-toggle="tab"
                href="#ex1-tabs-1"
                role="tab"
                aria-controls="ex1-tabs-1"
                aria-selected="true"
                >Jewelery</a
            >
            </li>
            <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="ex1-tab-2"
                data-mdb-toggle="tab"
                href="#ex1-tabs-2"
                role="tab"
                aria-controls="ex1-tabs-2"
                aria-selected="false"
                >Bags</a
            >
            </li>
            <li class="nav-item" role="presentation">
                <a
                    class="nav-link"
                    id="ex1-tab-3"
                    data-mdb-toggle="tab"
                    href="#ex1-tabs-3"
                    role="tab"
                    aria-controls="ex1-tabs-3"
                    aria-selected="false"
                    >Accessories</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a
                class="nav-link"
                id="ex1-tab-4"
                data-mdb-toggle="tab"
                href="#ex1-tabs-4"
                role="tab"
                aria-controls="ex1-tabs-4"
                aria-selected="false"
                >Shoes</a
            >
            </li>
            <li class="nav-item" role="presentation">
                <a
                class="nav-link"
                id="ex1-tab-5"
                data-mdb-toggle="tab"
                href="#ex1-tabs-5"
                role="tab"
                aria-controls="ex1-tabs-5"
                aria-selected="false"
                >Home decor</a>
            </li>

        </ul>
        <!-- Tabs navs -->
        
        <!-- Tabs content -->
        <div class="tab-content" id="ex1-content">
            <div
            class="tab-pane fade show active"
            id="ex1-tabs-1"
            role="tabpanel"
            aria-labelledby="ex1-tab-1"
            >

                
            <div class="row" style="margin-top:8%;margin-bottom:8%;">
                <div   class="col-sm-4">
                    <a style="color: black;cursor: pointer;">
                        <img src="./../../../assets/products/products.jpg" style="display: block;
                        object-fit: cover; 
                        width: 100%;
                        height: 50vh;" />
                        
                        <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded earings</h2>
                        <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p>
                    </a>
                </div> 
                <div   class="col-sm-4">
                    <a style="color: black;cursor: pointer;">
                        <img src="./../../../assets/products/products-10.jpg" style="display: block;
                        object-fit: cover; 
                        width: 100%;
                        height: 50vh;" />
                        
                        <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Kenya Necklace</h2>
                        <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Chabai, Narok</p>
                    </a>
                </div>   
                <div   class="col-sm-4">
                    <a style="color: black;cursor: pointer;">
                        <img src="./../../../assets/products/products-11.jpg" style="display: block;
                        object-fit: cover; 
                        width: 100%;
                        height: 50vh;" />
                        
                        <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Yellow Bead Necklace</h2>
                        <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Enkare, Narok</p>
                    </a>
                </div>  
                <div   class="col-sm-4">
                    <a style="color: black;cursor: pointer;">
                        <img src="./../../../assets/products/products-15.jpg" style="display: block;
                        object-fit: cover; 
                        width: 100%;
                        height: 50vh;" />
                        
                        <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Green Bead Necklace</h2>
                        <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Eoret Narasha, Narok</p>
                    </a>
                </div>  
            </div>

            </div>
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <div class="row" style="margin-top:8%;margin-bottom:8%;">
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-21.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Clutch bags</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Lomut, West Pokot</p>
                        </a>
                    </div>  
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-22.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Pink Beaded bag</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Ortum, West Pokot</p>
                        </a>
                    </div> 
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-25.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded Travel bag</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Ortum, West Pokot</p>
                        </a>
                    </div> 
                </div>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            
                <div class="row" style="margin-top:8%;margin-bottom:8%;">
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products21-3.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded Wall Portrait</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Lomut, West Pokot</p>
                        </a>
                    </div>  
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-35.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded Belts</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Orwa, West Pokot</p>
                        </a>
                    </div> 
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-38.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded Key Holders</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Chepareria, West Pokot</p>
                        </a>
                    </div> 
                </div>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                <div class="row" style="margin-top:8%;margin-bottom:8%;">
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-44.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Gold Red Bead Shoes</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Esageri, Baringo</p>
                        </a>
                    </div> 
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-47.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Kenya flag Bead Shoes</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Eldama Ravine, Baringo</p>
                        </a>
                    </div> 
                </div>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
                <div class="row" style="margin-top:8%;margin-bottom:8%;">
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-59.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded Wine Glass</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Emening, Baringo</p>
                        </a>
                    </div> 
                    <div class="col-sm-4">
                        <a style="color: black;cursor: pointer;">
                            <img src="./../../../assets/products/products-61.jpg" style="display: block;
                            object-fit: cover; 
                            width: 100%;
                            height: 50vh;" />
                            
                            <h2 class="tabtitle" style="margin-top: 4%;font-weight: bold;">Beaded Glass Jar</h2>
                            <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Cheberen, Baringo</p>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
        <!-- Tabs content -->
    </div>
    <div class="col-sm-2"></div>
</div>