<app-nav></app-nav>
<div class="container-fluid" style="padding: 4%">
  <div class="row margin-mob">
    <div class="col-sm-3">
      <div class="vertcent">
        <div style="margin-bottom: 4%">
          <span
            class="title margin-top"
            style="
              margin-top: 4%;
              color: var(--ushanga-yellow);
              line-height: 100%;
              font-size: 3rem;
            "
            >Coming Soon</span
          >
        </div> 
        <p>
          <small class="tabtitle" style="color: black; font-size: 0.75rem"
            >Linking traditional talent to modern markets</small
          >
        </p>
        <p style="margin-top: 5%">
          <!-- <small style="color: grey">
              In a bid to promote the economic empowerment of the women from our
              pastoral communities, all products within our catalogue are locally
              sourced from within our 7 counties of operation in Kenya
            </small> -->
        </p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3">
          <a style="color: black; cursor: pointer">
            <img src="./../../../assets/U20-59.jpg" class="catBanner" />

            <h2 class="tabtitle" style="margin-top: 4%; font-weight: bold">
              Home Furnishings
            </h2>
            <!-- <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p> -->
          </a>
        </div>
        <div class="col-sm-3">
          <a style="color: black; cursor: pointer">
            <img
              src="./../../../assets/compressor/images/image00001.jpeg"
              class="catBanner"
            />

            <h2 class="tabtitle" style="margin-top: 4%; font-weight: bold">
              Accessories
            </h2>
            <!-- <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p> -->
          </a>
        </div>
        <div class="col-sm-3">
          <a style="color: black; cursor: pointer">
            <img src="./../../../assets/U20-130.jpg" class="catBanner" />

            <h2 class="tabtitle" style="margin-top: 4%; font-weight: bold">
              Jewelery
            </h2>
            <!-- <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p> -->
          </a>
        </div>
        <div class="col-sm-3">
          <a style="color: black; cursor: pointer">
            <img src="./../../../assets/U20-10.jpg" class="catBanner" />

            <h2 class="tabtitle" style="margin-top: 4%; font-weight: bold">
              Cultural Collectables
            </h2>
            <!-- <p style=" letter-spacing: 1px;color: var(--medium);font-size: 12px;">Sambeya, Narok</p> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
