<div class="row" style="z-index: 1000;">
  <app-nav></app-nav>
        <!-- Carousel wrapper -->
        <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators carousel-indicators-numbers" style="text-indent: 0!important;">
          <li 
              data-mdb-target="#carouselBasicExample"
              data-mdb-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
          >
              <div>
                  <span class="number">01</span>
                  <div class="line"></div>
              </div>
          </li>
          <li
              type="button"
              data-mdb-target="#carouselBasicExample"
              data-mdb-slide-to="1"
              aria-label="Slide 2"
          >
          <div>
              <span class="number">02</span>
              <div class="line"></div>
          </div>
          </li>
          <li
              type="button"
              data-mdb-target="#carouselBasicExample"
              data-mdb-slide-to="2"
              aria-label="Slide 3"
          >
              <div>
                  <span class="number">03</span>
                  <div class="line"></div>
              </div>
          
          </li>
          <li
          type="button"
          data-mdb-target="#carouselBasicExample"
          data-mdb-slide-to="3"
          aria-label="Slide 4"
          >
              <div>
                  <span class="number">04</span>
                  <div class="line"></div>
              </div>

          </li>
          </ol>
      
          <!-- Inner -->
          <div class="carousel-inner">
          <!-- Single item -->
          <div class="carousel-item active" style="background-color: rgba(0,0,0,0.5)">
              <img  [lazyLoad]="toStringConv('./../../../assets/smb.jpg')" class="d-block " alt="Pastoral woman"/>
              <div class="carousel-caption w-50 d-md-block">
              <span class="tabtitle ushatab" >Ushanga Kenya Initiative</span>
              <p class="caption-text">Cultural Preservation For Socio-Economic Empowerment</p>
              <button style="margin-top: 6%;"  [routerLink]="['/shop']"  class="circle-btn learn-more">
                  <span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Go to Shop</span>
              </button>
              </div>
          </div>
      
          <!-- Single item -->
          <div class="carousel-item">
              <img  [defaultImage]="defaultImage" [lazyLoad]="toStringConv('./../../../assets/compressor/images/IMG_0078.JPG')" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
              <div class="carousel-caption w-50 d-md-block">
                  <span class="tabtitle ushatab">Ushanga Kenya Initiative</span>
                  <p class="caption-text">Cultural Preservation For Socio-Economic Empowerment</p>
                  <button style="margin-top: 6%;"  [routerLink]="['/shop']"  class="circle-btn learn-more">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Go to Shop</span>
                </button>
              </div>
          </div>
      
          <!-- Single item -->
          <div class="carousel-item">
              <img [defaultImage]="defaultImage" [lazyLoad]="toStringConv(' ./../../../assets/compressor/images/IMG_0033.JPG')" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
              <div class="carousel-caption w-50 d-md-block">
                  <span class="tabtitle ushatab">Ushanga Kenya Initiative</span>
                  <p class="caption-text">Cultural Preservation For Socio-Economic Empowerment</p>
                  <button style="margin-top: 6%;"  [routerLink]="['/shop']"  class="circle-btn learn-more">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Go to Shop</span>
                </button>
              </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
              <img [defaultImage]="defaultImage" [lazyLoad]="toStringConv('./../../../assets/bannner.JPG')" class="d-block w-100" alt="Canyon at Nigh"/>
              <div class="carousel-caption w-50 d-md-block">
                  <span class="tabtitle ushatab">Ushanga Kenya Initiative</span>
                  <p class="caption-text">Cultural Preservation For Socio-Economic Empowerment</p> 
                  <button style="margin-top: 6%;"  [routerLink]="['/shop']"  class="circle-btn learn-more">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Go to Shop</span>
                </button>
              </div>
          </div>

          
        </div>
      <!-- Inner -->
      
          <!-- Controls -->
          <!-- <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
          </button> -->
        </div> 
</div>
<div class="container-fluid aboutsect">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div style="display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;">
                    <div style="text-align: center;">
                        <img [defaultImage]="defaultImage" [lazyLoad]="toStringConv('./../../../assets/COA_KE.png')" style="height: 8em;" alt="" srcset="">
                        <p class="tabtitle" style="font-size: 12px!important;margin-bottom: 0%;">
                            <small>MINISTRY OF TOURISM, <br> WILDLIFE AND HERITAGE</small>
                            <br>
                        </p>
                        <small style="font-size: 12px;letter-spacing: 1px;">State Department For Culture and Heritage</small>
                    </div>
                    <div>
                        <img [defaultImage]="defaultImage" [lazyLoad]="toStringConv('./../../../assets/UKI_LOGO.png')" style="height:14rem" alt="" srcset="">
                    </div>
                </div>
            </div> 
            
            <div class="col-sm-12" style="margin-top:10%">
              <p style="letter-spacing: 1px;"> 
                Ushanga kenya is a national initiative that was established back in 2017.The aim Forthis initiative is to create jobs and transformation Forthe living standards Forthe pastoralist women through commercialization Forbeadwork which has otherwise been a traditional activity with little economic benefits to the communities

              </p>
              <p style="letter-spacing: 1px;"> 
                The initiative seeks to strengthen the business and production capacity Forwomen and youth as well as improve the competitiveness Forbead products in the local,regional and international markets for sustainable livelihoods, this can be achieved through formation For cooperatives where the women join efforts to make the products more efficiently, more so the initiative seeks to protect the intellectual property Forthe communities practicing beadwork and preserve the bead culture by setting up channels that directly link the women to the buyers and monitoring any illegal activities taking place on behalf Forthe women.

              </p>

              <p  style="letter-spacing: 1px;">
                By strengthening the business and production capacity for women, the Ushanga model is anchored on mobilizing women into organized co-operative groups, providing infrastructure for production and facilitating competitive access to local, regional and international markets through new designs, beading techniques, product finishings and marketing.
              </p>
              <p  style="letter-spacing: 1px;">
                The bottom-up economic model aims to empower indigenous pastoralist women to get the right skills in production to improve their competitiveness and inject start-up capital into the economy.
              </p>
            </div>
        </div>
    </div>
</div>

<!-- Page Wrap -->
<div class="page-wrap">

    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-one">
            <div class="swiper-image sl1" data-swiper-parallax-y="20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-one">
                <h1><span>Huu ni <span class="emphasis">ustadi</span> wangu, <br> huu ni jukumu Langu.</span></h1>
                <p>Naisei Keni, Narok South</p>
              </div>
            </div>
            <div class="swiper-image sl2" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-two">
                <p class="paragraph">
                  <!-- A Prophet sat in the market-place and told the fortunes Forall who cared to engage his services. Suddenly there came running up one who told him that his house had been broken into by thieves, and that they had made off with everything they could lay
                  hands on. -->
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-two">
            <div class="swiper-image" data-swiper-parallax-y="20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-three">
                <h1><span>Uvumbuzi na <span class="emphasis">ujasiri</span> wangu, <br> Historia Yangu.</span></h1>
                <p>Naisei Keni, Narok South</p>
              </div>
            </div>
            <div class="swiper-image sl2" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-four">
                <p class="paragraph">
                  <!-- A thirsty Crow found a Pitcher with some water in it, but so little was there that, try as she might, she could not reach it with her beak, and it seemed as though she would die Forthirst within sight Forthe remedy. -->
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-three">
            <div class="swiper-image" data-swiper-parallax-y="20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-five">
                <h1><span>Asili na <span class="emphasis">maadili</span> yangu, <br> Hii ni rasilimali Yangu.</span></h1>
                <p>Naisei Keni, Narok South</p>
              </div>
            </div>
            <div class="swiper-image sl2" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-six">
                <p class="paragraph">
                  <!-- Every man carries Two Bags about with him, one in front and one behind, and both are packed full Forfaults. The Bag in front contains his neighbours’ faults, the one behind his own. Hence it is that men do not see their own faults, but never fail to see
                  those Forothers. -->
                </p>
              </div>
            </div>
          </div>
  
        </div>
          <!-- If we need pagination -->
            <div class="swiper-pagination"></div>  
      </div>
    </div>
  
</div>

<app-approuch></app-approuch>

