<app-nav></app-nav>
<div class="row margin-mob" style="text-align: center;background-color: var(--light); padding-top: 12%;padding-bottom: 8%;" >
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <p class="tabtitle" style="color:var(--medium)">FINANCIAL YEAR 2020/2021
        </p>
        <p class="title" style="color: black!important;line-height: 100%;">USSD Women<br> Registration</p> 
        <span class="title" style="font-size: 37px">*789*700#</span>  <br>

    </div>
    <div class="col-sm-3"></div>
</div>
<!-- Images used to open the lightbox -->
<div class="container-fluid">
    <div class="row gallery">
      <div class="col-md-4 p-0">
        <img src="./../../../assets/U20-74.jpg"   class="hover-shadow img-fluid">
      </div>
      <div class="col-md-4 p-0">
        <img src="./../../../assets/U20-105.jpg"   class="hover-shadow img-fluid">
      </div>
      <div class="col-md-4 p-0">
        <img src="./../../../assets/U20-120.jpg"  class="hover-shadow img-fluid">
      </div>
      <div class="col-md-4 p-0">
        <img src="./../../../assets/U20-121.jpg" class="hover-shadow img-fluid">
      </div>
      <div class="col-md-4 p-0">
        <img src="./../../../assets/U20-127.jpg"  class="hover-shadow img-fluid">
      </div>
      <div class="col-md-4 p-0">
        <img src="./../../../assets/U20-130.jpg"  class="hover-shadow img-fluid">
      </div>
    </div>
</div>
<div class="container" style="margin-top: 14%;">
    <div class="row">
        <div class="col-sm-6">
            <div class="vertcent">
              <div class="margin-mob-sm">
                <p class="tabtitle" style="color:var(--medium)">FINANCIAL YEAR 2020/2021
                </p>
                <p class="title" style="color: black!important;line-height: 100%;">USSD Women<br> Registration</p> 
                <span class="title" style="font-size: 37px">*789*700#</span>  <br>

              </div>
                <p style="margin-top: 8%;"><small> 
                     Users interact directly from their mobile phones by making selections from various menus creating real-time 
                    connection with Ushanga. This means USSD enables two-way communication of information.
                </small></p> 
                <div class="row margin-mob-sm" style="padding-top: 5%; "> 
                 
                    <span style="text-align: justify;margin-top: 4%;text-decoration: underline;" class="tabtitle">Key Functions</span>  <br>
                    <ul style="text-align: justify">
                        <li>Women registry</li>
                        <li>Menu-based information services registration</li>
                        <li>Location-based content services ( marketing and 
                            resource management and allocation)</li>
                        <li>Direct communication channel</li>
                        <li>Regional based registration Mapping</li>
                    </ul>
            </div>
            </div>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-5" style="text-align: center;">
            <img src="./../../../assets/samburu women_-77.jpg" style="max-width:100%;text-align: center;" alt="" srcset="">
        </div>
    </div>
</div> 
<div class="margin-mob hiw">
  <p class="title" style="margin-top: 14%; margin-bottom: 8%; text-align: center; color: black!important;line-height: 100%;">HOW IT WORKS</p> 
  <div class="row">
    <div class="col-12">
      <img src="./../../../assets/mob1.jpg" style="height: 100vh; width:fit-content;text-align: center;">
    </div>
    <div class="col-12">
      <img src="./../../../assets/mob2.jpg" style="height: 100vh; width:fit-content;text-align: center;">
    </div> 
    <div class="col-12">
      <img src="./../../../assets/mob3.jpg" style="height: 100vh; width:fit-content;text-align: center;">
    </div> 
    <div class="col-12">
      <img src="./../../../assets/mob5.jpg" style="height: 100vh; width:fit-content;text-align: center;">
    </div> 
    <div class="col-12">
      <img src="./../../../assets/mob6.jpg" style="height: 100vh; width:fit-content;text-align: center;">
    </div> 
    
  </div>
</div>

<div class="container margin-top hiw1" style="height: 100vh; background: url(./../../../assets/USHANGA_USSD-4.jpg) no-repeat center center; background-size:contain;">

</div>
<div class="container hiw1" style="height: 100vh; background: url(./../../../assets/USHANGA_USSD-5.jpg) no-repeat center center; background-size:contain;">

</div>
 
