<div class="meh">
     <div class="cart">
    <div class="cart__overlay"></div>
    <div class="cart__contents">
        <div class="cart__products">
        <h2 class="title">Your Cart</h2>
        <p class=""><small style="color: grey; letter-spacing: 1px;">An overview of your selected products.</small></p>
        <div class="products">
            <div class="product">
                <div class="product__1">
                <div class="product__thumbnail">
                    <img class="cart_image" src="./../../../../assets/products/products-10.jpg" style="background-size: cover;" alt="" srcset="">
                </div>
                <div class="product__details">
                    <div style="margin-bottom: 8px;"><b>Beaded Necklace</b></div> 
                    <div style="margin-bottom: 8px;"><b><p class="tabtitle" style="color: rgb(76, 190, 169);">KES. 1,485</p></b></div> 
                    <div style="margin-top: 8px;"><a href="#"><small style="color: red; letter-spacing: 1px; text-decoration: underline;">Remove</small></a></div>
                </div>
                </div> 
            </div> 
            <div class="product">
                <div class="product__1">
                <div class="product__thumbnail">
                    <img class="cart_image" src="./../../../../assets/products/products-22.jpg" style="background-size: cover;" alt="" srcset="">
                </div>
                <div class="product__details">
                    <div style="margin-bottom: 8px;"><b>Beaded Purse</b></div> 
                    <div style="margin-bottom: 8px;"><b><p class="tabtitle" style="color: rgb(76, 190, 169);">KES. 1,372</p></b></div> 
                    <div style="margin-top: 8px;"><a href="#"><small style="color: red; letter-spacing: 1px; text-decoration: underline;">Remove</small></a></div>
                </div>
                </div> 
            </div>
            <div class="product">
                <div class="product__1">
                <div class="product__thumbnail">
                    <img class="cart_image" src="./../../../../assets/products/products-38.jpg" style="background-size: cover;" alt="" srcset="">
                </div>
                <div class="product__details">
                    <div style="margin-bottom: 8px;"><b>Key Holder</b></div> 
                    <div style="margin-bottom: 8px;"><b><p class="tabtitle" style="color: rgb(76, 190, 169);">KES. 1,478</p></b></div> 
                    <div style="margin-top: 8px;"><a href="#"><small style="color: red; letter-spacing: 1px; text-decoration: underline;">Remove</small></a></div>
                </div>
                </div> 
            </div>
        </div>
        </div>
        <div class="cart__totals">
        <table class="totals">
        <tbody>
            <tr>
            <td colspan="2">
                <div class="collapser">
                    <a href="#" class="collapser__label">
                        <small style="color: var(--medium); letter-spacing: 1px; text-decoration: underline; ">Add a coupon code</small>
                    </a>
                <div class="collapser__content">
        
                    <div class="f">
                        <div class="f70">
                        <div class="input input--small">
                            <label for="couponcode" class="input__label" style="color: var(--medium); text-decoration: underline; ">Coupon code <span class="optional">(optional)</span></label>
                            <input style="margin-top: 4%" id="couponcode" type="text" class="input__input" data-mask=".{5,}" />
                            <div class="input__error"><small>Please enter a valid coupon code.</small></div>
                        </div>
                        </div>
                        <div class="f30">
                            <button class="btn btn--small btn--secondary btn--full js-add-gift-card vertcent">Add</button>
                        </div>
                    </div>
        
                </div>
            </div>
            </td>
            </tr>
            <tr>
            <th class="align-left font-normal tertiary">Subtotal</th>
            <td class="align-right">KES. 4,335.00</td>
            </tr> 
            <tr>
            <th class="align-left">Total</th>
            <td class="align-right"><b>KES. 4,335.00</b></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
            <td colspan="2" class="tertiary"><small>Estimations based on Nairobi, Kenya</small></td>
            </tr>
        </tfoot>
        </table>   
        <div class="form__footer">
        <button class="btn btn--secondary first js-toggle-cart"><small style="color: white"> Continue Shopping</small></button> <button class="btn btn--primary"><small style="color: white"> Pay Now </small></button>
            </div>
        </div>
    </div>
    </div>
</div>